.card-movie {
    display: block;
    margin-right: 20px;
}
.card-movie .thumb img {
    border-radius: 20px;
}

.card-movie .content {
    color: var(--text-color);
    margin-bottom: 20px;
}
.card-movie .content h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
}
.card-movie .content .release {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-movie .content .release .rate {
    color: var(--main-color);
    padding-right: 20px;
}