.list-movie-show button {
    display: block;
    margin: 50px auto;
    border: none;
    border-radius: 20px;
    background: var(--main-color);
    color: var(--bg-color);
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
}